<div data-elementor-type="wp-page" data-elementor-id="729" class="elementor elementor-729" data-elementor-post-type="page">
				<div class="elementor-element elementor-element-c51855a e-con-full e-flex e-con e-parent" data-id="c51855a" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-ca15c00 elementor-widget elementor-widget-heading" data-id="ca15c00" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">Micro-crèche proche de Bugnicourt – NID’ENVOL</h1>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-2acb229 e-flex e-con-boxed e-con e-parent" data-id="2acb229" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-a3e3112 e-con-full e-flex e-con e-child" data-id="a3e3112" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-0f841f3 elementor-widget elementor-widget-image" data-id="0f841f3" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="800" height="612" src="/img/layout/Accueil-petite-enfance-Aubencheul-au-Bac.webp" class="attachment-large size-large wp-image-60" alt="Accueil petite enfance Aubencheul-au-Bac" srcset="/img/layout/Accueil-petite-enfance-Aubencheul-au-Bac.webp 955w, /img/layout/Accueil-petite-enfance-Aubencheul-au-Bac-300x229.webp 300w, /img/layout/Accueil-petite-enfance-Aubencheul-au-Bac-768x587.webp 768w" sizes="(max-width: 800px) 100vw, 800px" />															</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-5ca087a e-con-full e-flex e-con e-child" data-id="5ca087a" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-d68fbb5 elementor-widget elementor-widget-text-editor" data-id="d68fbb5" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Vous habitez <b>Bugnicourt</b> et recherchez une crèche de confiance pour votre enfant ? La micro-crèche <b>Nid d’Envol</b>, située à <b>Aubencheul‑au‑Bac</b>, se trouve à seulement <b>8 minutes de Bugnicourt</b>. Nous accueillons de nombreuses familles venant de Bugnicourt, Arleux, Cantin et des villages voisins qui recherchent une structure rassurante, bienveillante et proche de chez eux.</p>								</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-571bbb4 e-con-full e-flex e-con e-parent" data-id="571bbb4" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-0afd594 elementor-widget elementor-widget-heading" data-id="0afd594" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default nv-sec-title">Pourquoi choisir notre micro-crèche quand on habite Bugnicourt ?
</h2>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-f123975 e-flex e-con-boxed e-con e-parent" data-id="f123975" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-d8b7169 e-con-full e-flex e-con e-child" data-id="d8b7169" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-baf3033 elementor-position-top elementor-widget elementor-widget-image-box" data-id="baf3033" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img decoding="async" width="418" height="447" src="/img/photos/Micro-creche-pres-de-Cambrai.webp" class="elementor-animation-float attachment-full size-full wp-image-85" alt="Micro-creche pres de Cambrai" srcset="/img/photos/Micro-creche-pres-de-Cambrai.webp 418w, /img/photos/Micro-creche-pres-de-Cambrai-281x300.webp 281w" sizes="(max-width: 418px) 100vw, 418px" /></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Proximité immédiate</h4><p class="elementor-image-box-description">Un trajet simple et rapide depuis Bugnicourt, idéal pour les parents qui travaillent à Douai, Cambrai ou sur les communes aux alentours.</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-08f9d84 e-con-full e-flex e-con e-child" data-id="08f9d84" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-b4ed0c3 elementor-position-top elementor-widget elementor-widget-image-box" data-id="b4ed0c3" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="418" height="447" src="/img/photos/Activites-educatives-Aubencheul-au-Bac.webp" class="elementor-animation-float attachment-full size-full wp-image-76" alt="Activites educatives Aubencheul-au-Bac" srcset="/img/photos/Activites-educatives-Aubencheul-au-Bac.webp 418w, /img/photos/Activites-educatives-Aubencheul-au-Bac-281x300.webp 281w" sizes="(max-width: 418px) 100vw, 418px" /></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Une micro-crèche à taille humaine</h4><p class="elementor-image-box-description">Une équipe attentive, des groupes réduits et un accompagnement individualisé pour chaque enfant.</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-e0a21a6 e-con-full e-flex e-con e-child" data-id="e0a21a6" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-025fa61 elementor-position-top elementor-widget elementor-widget-image-box" data-id="025fa61" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="1426" height="1800" src="/img/photos/HORAIRE-CRECHE-SOMAIN.webp" class="elementor-animation-float attachment-full size-full wp-image-684" alt="" srcset="/img/photos/HORAIRE-CRECHE-SOMAIN.webp 1426w, /img/photos/HORAIRE-CRECHE-SOMAIN-238x300.webp 238w, /img/photos/HORAIRE-CRECHE-SOMAIN-811x1024.webp 811w, /img/photos/HORAIRE-CRECHE-SOMAIN-768x969.webp 768w, /img/photos/HORAIRE-CRECHE-SOMAIN-1217x1536.webp 1217w" sizes="(max-width: 1426px) 100vw, 1426px" /></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Un accueil doux et sécurisé</h4><p class="elementor-image-box-description">Espaces aménagés avec soin, activités adaptées à l’âge, respect du rythme individuel, routines rassurantes.</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-7903c92 e-con-full e-flex e-con e-child" data-id="7903c92" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-8e7475c elementor-position-top elementor-widget elementor-widget-image-box" data-id="8e7475c" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="418" height="447" src="/img/photos/Inscription-creche-Aubencheul-au-Bac.webp" class="elementor-animation-float attachment-full size-full wp-image-81" alt="Inscription creche Aubencheul-au-Bac" srcset="/img/photos/Inscription-creche-Aubencheul-au-Bac.webp 418w, /img/photos/Inscription-creche-Aubencheul-au-Bac-281x300.webp 281w" sizes="(max-width: 418px) 100vw, 418px" /></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Horaires pratiques pour les familles de Bugnicourt</h4><p class="elementor-image-box-description">Nos horaires permettent d’optimiser les trajets maison ↔ travail, même avec un passage par la crèche.</p></div></div>				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-c8628b9 e-con-full e-flex e-con e-parent" data-id="c8628b9" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-3bdd6ff elementor-widget elementor-widget-heading" data-id="3bdd6ff" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default nv-sec-title">À propos de notre micro-crèche
</h2>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-0f67ec0 e-flex e-con-boxed e-con e-parent" data-id="0f67ec0" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-f3a089f elementor-widget elementor-widget-text-editor" data-id="f3a089f" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>À <b>NID’ENVOL</b>, nous mettons l’accent sur :</p><ul><li>l’éveil sensoriel,</li><li>le jeu libre,</li><li>la motricité,</li><li>la découverte,</li><li>l’autonomie progressive,</li><li>la relation de confiance avec chaque famille.</li></ul><p>Notre équipe qualifiée accueille les enfants dans un environnement chaleureux, pensé pour leur bien-être et leur sécurité.</p>								</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-72ff56d e-flex e-con-boxed e-con e-parent" data-id="72ff56d" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-c56b44e e-con-full e-flex e-con e-child" data-id="c56b44e" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-b0763c0 elementor-widget elementor-widget-image" data-id="b0763c0" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="139" height="171" src="/img/layout/eveil-et-developpement-enfants-Aubencheul-au-Bac.webp" class="attachment-full size-full wp-image-70" alt="eveil et développement enfants Aubencheul-au-Bac" />															</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-6577302 e-con-full e-flex e-con e-child" data-id="6577302" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-80fd2aa elementor-widget elementor-widget-heading" data-id="80fd2aa" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default nv-sec-title">Venir depuis Bugnicourt : simple et rapide
</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-43e40cb elementor-widget elementor-widget-text-editor" data-id="43e40cb" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Notre micro-crèche est située à seulement <b>8 minutes de Bugnicourt</b>. L’accès est très facile via la route nationale <b>D643</b>. Nous accueillons aussi des familles venant d’Arleux, Cantin, Lécluse, Brunémont, Aubencheul‑au‑Bac… et d’autres communes voisines.</p>								</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-8014a8c e-con-full e-flex e-con e-child" data-id="8014a8c" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-4a71969 elementor-widget elementor-widget-image" data-id="4a71969" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="139" height="171" src="/img/layout/eveil-et-developpement-enfants-Aubencheul-au-Bac.webp" class="attachment-full size-full wp-image-70" alt="eveil et développement enfants Aubencheul-au-Bac" />															</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-d9b3e22 e-con-full e-flex e-con e-child" data-id="d9b3e22" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-42fd75a elementor-position-top elementor-widget elementor-widget-image-box" data-id="42fd75a" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="401" height="428" src="/img/photos/itineraires-nid-envol.png" class="elementor-animation-float attachment-full size-full wp-image-738" alt="" srcset="/img/photos/itineraires-nid-envol.png 401w, /img/photos/itineraires-nid-envol-281x300.png 281w" sizes="(max-width: 401px) 100vw, 401px" /></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Itinéraire depuis Bugnicourt</h4><p class="elementor-image-box-description">8 min en voiture via la route nationale D643.</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-575d499 e-con-full e-flex e-con e-child" data-id="575d499" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-b7807b4 elementor-position-top elementor-widget elementor-widget-image-box" data-id="b7807b4" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="401" height="428" src="/img/photos/visite-personnalisee-micro-creche-nid-envol.png" class="elementor-animation-float attachment-full size-full wp-image-739" alt="visite personnalisee micro creche nid envol" srcset="/img/photos/visite-personnalisee-micro-creche-nid-envol.png 401w, /img/photos/visite-personnalisee-micro-creche-nid-envol-281x300.png 281w" sizes="(max-width: 401px) 100vw, 401px" /></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Visites personnalisées</h4><p class="elementor-image-box-description">Sur simple contact, Sarah, la directrice, se fera un plaisir
d’organiser une visite de la crèche, pour vous familiariser avec le lieu et l’équipe.</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-f72e742 e-con-full e-flex e-con e-child" data-id="f72e742" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-283a9ad elementor-position-top elementor-widget elementor-widget-image-box" data-id="283a9ad" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="1425" height="1800" src="/img/photos/PLANNING-MICRO-CRECHE-CAMBRAI.webp" class="elementor-animation-float attachment-full size-full wp-image-683" alt="PLANNING MICRO CRECHE CAMBRAI" srcset="/img/photos/PLANNING-MICRO-CRECHE-CAMBRAI.webp 1425w, /img/photos/PLANNING-MICRO-CRECHE-CAMBRAI-238x300.webp 238w, /img/photos/PLANNING-MICRO-CRECHE-CAMBRAI-811x1024.webp 811w, /img/photos/PLANNING-MICRO-CRECHE-CAMBRAI-768x970.webp 768w, /img/photos/PLANNING-MICRO-CRECHE-CAMBRAI-1216x1536.webp 1216w" sizes="(max-width: 1425px) 100vw, 1425px" /></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Horaires adaptés</h4><p class="elementor-image-box-description"> Notre micro-crèche est ouverte de 7h30 à 18h30, 47 semaines
par an.</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-a7bd504 e-con-full e-flex e-con e-child" data-id="a7bd504" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-4b0d088 elementor-position-top elementor-widget elementor-widget-image-box" data-id="4b0d088" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="401" height="428" src="/img/photos/accueil-enfant-nid-envol-micro-creche.png" class="elementor-animation-float attachment-full size-full wp-image-740" alt="" srcset="/img/photos/accueil-enfant-nid-envol-micro-creche.png 401w, /img/photos/accueil-enfant-nid-envol-micro-creche-281x300.png 281w" sizes="(max-width: 401px) 100vw, 401px" /></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">Parking et accès faciles</h4><p class="elementor-image-box-description">Stationnement simple devant la structure pour déposer et récupérer votre enfant en toute sérénité.</p></div></div>				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-6e5bf92 e-flex e-con-boxed e-con e-parent" data-id="6e5bf92" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-cd6e217 e-con-full e-flex e-con e-child" data-id="cd6e217" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-277930e elementor-widget elementor-widget-heading" data-id="277930e" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default nv-sec-title">Témoignages / Avis de familles
</h2>				</div>
				</div>
				<div class="nv-reviews">
    <figure class="nv-review">
      <div class="nv-review-stars"><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg></div>
      <blockquote class="nv-review-text">Nous habitons Bugnicourt et cherchions une micro-crèche sécurisante et proche. Nid'Envol est parfaite&nbsp;: une équipe chaleureuse, un cadre apaisant et un trajet rapide. Nous sommes ravis&nbsp;!</blockquote>
      <figcaption class="nv-review-author">
        <span class="nv-review-avatar" style="background:#4d9aa4">S</span>
        <span><span class="nv-review-name">Sophie&nbsp;R.</span><br/><span class="nv-review-loc">Famille de Bugnicourt</span></span>
      </figcaption>
    </figure>
    <figure class="nv-review">
      <div class="nv-review-stars"><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg></div>
      <blockquote class="nv-review-text">Le trajet depuis Bugnicourt est vraiment simple et rapide. Notre garçon adore y aller le matin, c'est le signe que tout se passe bien. Merci à toute l'équipe pour sa bienveillance.</blockquote>
      <figcaption class="nv-review-author">
        <span class="nv-review-avatar" style="background:#EB668D">K</span>
        <span><span class="nv-review-name">Kevin&nbsp;P.</span><br/><span class="nv-review-loc">Famille de Bugnicourt</span></span>
      </figcaption>
    </figure>
    <figure class="nv-review">
      <div class="nv-review-stars"><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg><svg viewBox="0 0 24 24" width="17" height="17" fill="currentColor" aria-hidden="true"><path d="M12 2l2.9 6.3 6.9.6-5.2 4.6 1.6 6.8L12 17.8 5.8 20.9l1.6-6.8L2.2 8.9l6.9-.6L12 2z"/></svg></div>
      <blockquote class="nv-review-text">Des activités variées, une vraie attention portée au rythme de chaque enfant et des professionnelles à l'écoute. On se sent en confiance. Je recommande à 100% aux familles du secteur.</blockquote>
      <figcaption class="nv-review-author">
        <span class="nv-review-avatar" style="background:#FAB42F">M</span>
        <span><span class="nv-review-name">Marine&nbsp;B.</span><br/><span class="nv-review-loc">Famille de Bugnicourt</span></span>
      </figcaption>
    </figure>
  </div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-34166a7 e-con-full e-flex e-con e-parent" data-id="34166a7" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-a0e6365 e-con-full e-flex e-con e-child" data-id="a0e6365" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-f8cc10d elementor-widget elementor-widget-image" data-id="f8cc10d" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="139" height="171" src="/img/layout/eveil-et-developpement-enfants-Aubencheul-au-Bac.webp" class="attachment-full size-full wp-image-70" alt="eveil et développement enfants Aubencheul-au-Bac" />															</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-68e8ee6 e-con-full e-flex e-con e-child" data-id="68e8ee6" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-2d8ca57 elementor-widget elementor-widget-heading" data-id="2d8ca57" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default nv-sec-title">Questions fréquentes (FAQ)
</h3>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-31f722e e-con-full e-flex e-con e-child" data-id="31f722e" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-dacf1d8 elementor-widget elementor-widget-image" data-id="dacf1d8" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="139" height="171" src="/img/layout/eveil-et-developpement-enfants-Aubencheul-au-Bac.webp" class="attachment-full size-full wp-image-70" alt="eveil et développement enfants Aubencheul-au-Bac" />															</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-e89494e e-con-full e-flex e-con e-child" data-id="e89494e" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-1e5846b elementor-widget elementor-widget-heading" data-id="1e5846b" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Q : Acceptez-vous les enfants venant de Bugnicourt ?
</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-22bfc85 elementor-widget elementor-widget-text-editor" data-id="22bfc85" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Oui, avec plaisir. Un grand nombre de familles accueillies habitent Bugnicourt ou les communes voisines.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-987c615 elementor-widget elementor-widget-heading" data-id="987c615" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Q : Combien de temps faut-il pour venir depuis Bugnicourt ?
</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-330391a elementor-widget elementor-widget-text-editor" data-id="330391a" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Environ 8 minutes via la route nationale <b>D643</b>. Le trajet est simple et direct.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-ce11a0a elementor-widget elementor-widget-heading" data-id="ce11a0a" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Q : Peut-on visiter la micro-crèche avant d’inscrire un enfant ?
</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-7d355cf elementor-widget elementor-widget-text-editor" data-id="7d355cf" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Oui ! Nous proposons des visites sur rendez-vous pour vous permettre de découvrir les lieux et rencontrer l’équipe.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-20a4110 elementor-widget elementor-widget-heading" data-id="20a4110" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Q : Quels sont vos horaires ?
</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-8fe9180 elementor-widget elementor-widget-text-editor" data-id="8fe9180" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>La micro-crèche est ouverte du lundi au vendredi de 7h30 à 18h30. Elle est ouverte à tous quelque soit le lieu d’habitation ou de travail des familles. L’inscription est sans contrainte de domiciliation dans la commune de Aubencheul‑Au‑Bac et une priorité d’accueil est réservée aux enfants venant des communes rurales des alentours.</p>								</div>
				</div>
				<div class="elementor-element elementor-element-1e5846b elementor-widget elementor-widget-heading" data-id="1e5846b" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Q : Proposez-vous des contrats réguliers et occasionnels ?
</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-22bfc85 elementor-widget elementor-widget-text-editor" data-id="22bfc85" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Oui, nous proposons plusieurs formules pour répondre aux besoins des familles.</p>								</div>
				</div>
		<div class="elementor-element elementor-element-a8fc49f elementor-align-center elementor-widget elementor-widget-button" data-id="a8fc49f" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="nv-btn-wrap"><a class="nv-btn" href="https://docs.google.com/forms/d/e/1FAIpQLScuKpbr229urkqs3b0hHUBax8uwEWOY-fECxYVcv6K7WHKc3w/viewform" target="_blank" rel="noopener">PRÉ-INSCRIPTION</a></div>
								</div>
				</div>
				</div>
				</div>
				</div>
				